@import 'tailwindcss';

@theme {
  --font-minecraft: 'minecraft';
  --font-minecraft-ench: 'minecraft-ench';
}

@font-face {
  font-family: 'minecraft';
  font-weight: normal;
  src: url('/attachments/fonts/Minecraft.woff2') format('woff2');
}
@font-face {
  font-family: 'minecraft-ench';
  font-weight: normal;
  src: url('/attachments/fonts/SgaSmoothRegular.woff2') format('woff2');
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --primary: #8b5cf6;
  --primary-foreground: #f8fafc;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #f4f4f5;
  --accent-foreground: #18181b;
  --border: #e4e4e7;
  --radius: 0.5rem;
}

.dark {
  --background: #121212;
  --foreground: #e0e0e0;
  --card: #1e1e1e;
  --card-foreground: #e0e0e0;
  --primary: #a78bfa;
  --primary-foreground: #f8fafc;
  --secondary: #2d2d2d;
  --secondary-foreground: #e0e0e0;
  --muted: #2d2d2d;
  --muted-foreground: #a0a0a0;
  --accent: #2d2d2d;
  --accent-foreground: #e0e0e0;
  --border: #2d2d2d;
}
