---
import Layout from '~/layouts/Layout.astro'

/*
const { episodio } = Astro.params

const response = await fetch(`http://localhost:3000/episodios/${episodio}`)
if (!response.ok) throw Error()
const data = await response.json()
const {} = data
*/
---

<Layout title={``} description="">
  <div></div>
</Layout>
