<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-widt" />
    <title>Document</title>
  </head>
  <body>
    <div id="advancement">
      <div></div>
    </div>
  </body>
</html>

<style>
  #advancement {
    max-width: 16rem;
    height: 5rem;
    border-width: 7px;
    border-color: black;
    border-style: groove;
    background-color: red;
  }
</style>
