<section id="hero" class="">
  <div class="">
    <h1 class="">Bienvenidos a Surviblia</h1>
    <h4 class="">La wiki del mundo Survival de ElRichMC</h4>
    <blockquote class="">
      "Un héroe puede ser cualquiera, incluso un hombre haciendo algo tan simple y loco como vaciar
      cientos de chunks en modo supervivencia para enseñarle al mundo que la determinación y
      perseverancia pueden provenir desde cualquier origen"
    </blockquote>
  </div>
</section>
