---
import PlayIcon from '~/assets/Play.svg'
import LiteYoutubeEmbed from '~/components/LiteYoutubeEmbed.astro'
---

<section id="video" class="max-w-[1200px]" style="margin: 0 auto; padding: 0 1rem;">
  <div class="rounded-[var(--radius)] border border-[var(--border)]">
    <div class="relative">
      <LiteYoutubeEmbed videoId="liwGCvaEw3A" title="Surviblia Beyond (OVA)" />
      <div class="absolute inset-0 flex items-center justify-center bg-black/60">
        <PlayIcon class="text-white" />
      </div>
    </div>
  </div>
</section>
