---
import Link from './Link.astro';
---

<nav class='w-full h-16'>
	<div>
		<header class=''>
			<h1>Surviblia</h1>
			<span>La Wiki del mundo Survival de ElRichMC</span>
		</header>
		<ul class='flex flex-col gap-y-3'>
			<Link href='/' text='Spawn' />
			<Link href='/episodes' text='Episodios' />
			<Link href='/projects' text='Proyectos' />
			<Link href='/pets' text='Mascotas' />
			<Link href='/tools' text='Herramientas' />
			<Link href='/map' text='Mapas' />
			<Link href='/timeline' text='Linea de Tiempo' />
			<Link href='/svsg' text='SVSG' />
			<Link href='/extra' text='¡Extra!' />
			<Link href='/support' text='¡Apoya a ElRichMC!' />
		</ul>
	</div>
</nav>
